<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout_v3 :: common_header(~{::title})">
    <title>商品库存查询-OMS订单管理系统</title>
</head>
<body th:replace="layout_v3 :: common_body(~{::div.layui-body})">

<div class="layui-body" style="padding:15px;">
    <blockquote class="layui-elem-quote">库存查询</blockquote>
    <fieldset class="layui-elem-field">
        <legend>按条件搜索</legend>
        <div class="layui-field-box">
            <form class="layui-form layui-form-pane1" method="get" action="/goods/inventory_list">
                <input type="hidden" name="shopId" th:value="${shopId}" />
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" name="goodsNum" placeholder="商品编码" th:value="${goodsNum}" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="goodsSpecNum" placeholder="SKU编码" th:value="${goodsSpecNum}" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn">搜索</button>
                    </div>
<!--                    <div class="layui-inline">-->
<!--                        <button type="submit" lass="button" id="export" class="layui-btn">导出</button>-->
<!--                    </div>-->
                </div>
            </form>
        </div>
    </fieldset>
    <link rel="stylesheet" href="/goods/splb/sp.css"/>
    <div class="sp-wrapper">
        <table class="sp-table">
                <thead>
                <tr>
                    <!--                    <th><input type="checkbox" /></th>-->
                    <th>ID</th>
                    <th>商品</th>
                    <th>款号</th>
                    <th>SKU</th>
                    <th>规格</th>

                    <th>库存</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${lists}">
                    <td th:text="${item.id}"></td>
                    <td >
                        <img class="pimg" th:src="${item.image}" width="50px" height="50px">
                        <b th:text="${item.name}"></b>
                    </td>
                    <td ><b th:text="${item.goodsNumber}"></b></td>
                    <td th:text="${item.specNumber}"></td>

                    <td>
                    <b th:text="${item.colorValue}"></b>&nbsp;&nbsp;
                    <b th:text="${item.sizeValue}"></b>&nbsp;&nbsp;
                    <b th:text="${item.styleValue}"></b>
                    </td>
                    <td ><b th:text="${item.getCurrentQty()-item.getPickingQty()}"></b></td>

                </tr>
                </tbody>
        </table>
    </div>
    <div class="layui-box layui-laypage layui-laypage-default pageBox">
        <paging:pager th:value="${pageIndex}" th:rows="${totalSize}" th:size="${pageSize}"/>
        <span>总共：[[${totalSize}]]条记录</span>
    </div>
    <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #fff;" src="" />
        </div>
    </div>
    <script type="text/javascript" src="/sb/jquery.min.js"></script>
    <script type="text/javascript" src="/sb/Tips.min.js"></script>
    <script type="text/javascript">
        $(function () {
/*            $("#export").click(function () {
                var urlLink = window.location.href;
                var exportLink;

                if ($('#str').val()==""){
                     exportLink = urlLink .split("/inventory/list")[0];
                } else {
                    exportLink = urlLink .split("/inventory/list?str=")[0];
                }
                exportLink += "/inventory/export?str="+$('#str').val();
                window.open(exportLink);
            });*/
            $(".pimg").click(function(){
                var _this = $(this);//将当前的pimg元素作为_this传入函数
                imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
            });

            function imgShow(outerdiv, innerdiv, bigimg, _this){
                var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
                $(bigimg).attr("src", src);//设置#bigimg元素的src属性

                /*获取当前点击图片的真实大小，并显示弹出层及大图*/
                $("<img/>").attr("src", src).load(function(){
                    var windowW = $(window).width();//获取当前窗口宽度
                    var windowH = $(window).height();//获取当前窗口高度
                    var realWidth = this.width;//获取图片真实宽度
                    var realHeight = this.height;//获取图片真实高度
                    var imgWidth, imgHeight;
                    var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

                    if(realHeight>windowH*scale) {//判断图片高度
                        imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放
                        imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度
                        if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度
                            imgWidth = windowW*scale;//再对宽度进行缩放
                        }
                    } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度
                        imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放
                        imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度
                    } else {//如果图片真实高度和宽度都符合要求，高宽不变
                        imgWidth = realWidth;
                        imgHeight = realHeight;
                    }
                    $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放

                    var w = (windowW-imgWidth)/2;//计算图片与窗口左边距
                    var h = (windowH-imgHeight)/2;//计算图片与窗口上边距
                    $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性
                    $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
                });
                $(outerdiv).click(function(){//再次点击淡出消失弹出层
                    $(this).fadeOut("fast");
                });
            }
        })
    </script>
</div>
</body>
<html>
