<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录 OMS订单管理系统</title>
    <link rel="stylesheet" type="text/css" href="/css/sr.css">
</head>
<body>
<div class="hy-box">
    <h1>OMS订单管理系统</h1>
    <h2>登录</h2>
    <form method="post" action="/login">
        <input type="hidden" name="ref" th:value="${ref}"/>
        <p>
            <i class="name"></i>
            <input type="text" placeholder="用户名" id="username" th:value="${username}" name="username">
        </p>
        <p>
            <i class="pass"></i>
            <input type="password" placeholder="密码" name="password" id="password">
        </p>
        <p class="button">
            <span th:text="${error}">错误提示</span>
            <button type="submit" name="button" id="button">立即登录</button>
        </p>
    </form>
</div>
</body>
</html>
