<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
    <title>店铺选择-数据中心-华衣聚石塔</title>
</head>
<body th:replace="layout :: common_body(~{::div.layui-body})">
<div class="layui-body" style="padding:15px;">
    <link rel="stylesheet" type="text/css" href="/css/hy.css">
    <div class="hy-main">
        <div class="dk-box">
            <h1 style="color: red">用户无权限访问</h1>
        </div>
    </div> <!-- end hy-main -->
</div>
</body>
</html>